.header{
    height: 500px;
    background-image: url('../../images/space.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
}