.footer {
    margin-top: 100px;
  }
  .footer .box{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
  }
  
  .footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: #444;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer .box-container .box h3 i {
    color: rgb(196,47,217)  ;
  }
  
  .footer .box-container .box .share {
    margin-top: 1rem;
  }
  
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    background-color: rgb(196,47,217);
    color: #fff;
    margin-right: .3rem;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .footer .box-container .box .share a:hover {
    background-color: #444;
  }
  
  .footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: #444;
    border-top: 0.1rem solid rgb(196,47,217);
  }
  
  .footer .credit span {
    color: rgb(196,47,217);
  }

  @media screen and (max-width : 450px){
    .footer .box{
  flex-direction: column;
  gap: 10px;
}


.footer .box-container .box h3 {
  font-size: 2.2rem;
  text-transform: capitalize;
  color: #444;
  padding: 1rem 0;
  gap: 20px;
}

.header .logo span {
  font-size: 2rem;

}
.carousel.slide{
  max-width: 100%;
}

.footer .box-container .box h3 i {
  color: #0eb582;
}
.footer .box-container .box h3 span{
  font-size: 2.5rem;
}

.footer .box-container .box .share {
  margin-top: 1rem;
}

.footer .box-container .box .share a {
  font-size: 20px;
  width: 60px;
}



.footer .box-container .box .share a:hover {
  background-color: #444;
}
  .footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding-top: 3rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: capitalize;
    color: #444;
    border-top: 0.1rem solid rgb(196,47,217);
  }
  
  .footer .credit span {
    color: rgb(196,47,217);
  }

  }
  